# Ignore Python virtual environment
/yolo-env/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model weights and runs



# Ignore OS files
.DS_Store
Thumbs.db

# Ignore annotation and image zips
*.zip
# User-specified files to ignore
convert_coco_to_yolo.py
1.py
custom_augmentation.py
prepare_yolo_dataset.py
yolo_detect.py
# Ignore large COCO annotation folders
annotations_trainval2017/
# Ignore dataset and split folders
datasets/
test/
train/
valid/
annotations_trainval2017/annotations/

